     <script>
       
        $(document).ready(function( ) {
          $("#firstslide").click(function() {
                document.location.href = "<%= @links[0]%>";
          })
          $("#secondslide").click(function() {
                document.location.href = "<%= @links[1]%>";
          })
          $("#thirdslide").click(function() {
                document.location.href = "<%= @links[2]%>";
          })
       });
       
     </script>
     
      <!-- Carousel
    ================================================== -->
     <% provide(:title, 'Home') %>
 <div class = "container" id = "hpnews">
   <center><strong><h2>Latest News</h2></strong></center>
    <div id="myCarousel">
      <!-- Indicators -->
      <table class = "table">
        <tbody>
          <tr id="firstslide"  >
            <td>
              <div >
                <img id= "image" src= <%=@srcs[0] %> />
              </div>
            </td>
            <td>
               <div>
                 <h1><%= @titles[0]%></h1>
               </div>
            </td>
          </tr>
          <tr id="secondslide" >
            <td>
              <div >
                <img id="image" src= <%=@srcs[1]%> />
              </div>
            </td>
            <td>
               <div>
                 <h1><%= @titles[1]%></h1>
               </div>
            </td>
          </tr>
          <tr id="thirdslide">
            <td>
              <div >
                <img id = "image" src= <%=@srcs[2]%>/>
              </div>
            </td>
            <td>
               <div>
                 <h1><%= @titles[2]%></h1>
               </div>
            </td>
          </tr>
        </tbody>
      </table>
      
    </div><!-- /.carousel -->
</div>

    <!-- Marketing messaging and featurettes
    ================================================== -->
    <!-- Wrap the rest of the page in another container to center all the content. -->


    <div class="container marketing">

      <!-- Three columns of text below the carousel -->
      <div class="row">
        <div class="col-lg-4">
          <h2><%= link_to image_tag('twitter.jpg',size:'140x140',alt:"Generic placeholder image"), 'http://www.twitter.com', class:"img-circle" %></h2>
          <h2>Twitter</h2>
          <p><a class="btn btn-default" href="#" role="button">View details >></a></p>
          
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-4">
          <img class="img-circle" src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" alt="Generic placeholder image" width="140" height="140">
          <h2>Rules</h2>
          <p>How to Play Fantasy Track</p>
          <p><%= button_to "Rules >>", scoring_rules_path, :id => "generalButton" %></p>
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-4">
          <img class="img-circle" src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" alt="Generic placeholder image" width="140" height="140">
          <h2>Results</h2>
          <p>View Results from the last meet</p>
          <p><%= button_to "Results >>", recent_meet_path, :id => "generalButton" %></p>

        </div><!-- /.col-lg-4 -->
      </div><!-- /.row -->

    </div><!-- /.container -->
    
    <div class= "container users">
      <div class = "row">
        <br></br>
        <br></br>
        <center><h1> <%= User.count %> Users </h1> </center>
        <center> <h1> Already Signed up! </h1> </center>
        <br></br>
        <br></br>
      </div>
    </div>
    
    
    

