     
      <!-- Carousel
    ================================================== -->
     <% provide(:title, 'Home') %>
    <div id="myCarousel" class="carousel slide" data-ride="carousel">
      <!-- Indicators -->
      <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
      </ol>
      <div class="carousel-inner" role="listbox">
        <div class="item active"  id="Firstslide">
          <div class="container">
            <div class="carousel-caption">
              <h1><%= link_to @titles[0].text, @hrefs[1]%></h1>
                </br>
                </br>
                <% if !logged_in? %>
                  <%= link_to 'Sign up Today !', 'signup', method: 'get',class: "btn btn-lg btn-primary" %>
                <% end %>    
              </p>
            </div>
          </div>
        </div>
        <div class="item" id="Secondslide">
          <div class="container" >
            <div class="carousel-caption">
              <h1><%= link_to @titles[1].text, @hrefs[2]%></h1>
              <p>Brief Description about the advantage of the application</p>
              <p><a class="btn btn-lg btn-primary" href="#" role="button">Learn more</a></p>
            </div>
          </div>
        </div>
        <div class="item" id="Thirdslide">
          <div class="container" >
            <div class="carousel-caption">
              <h1><%= link_to @titles[2].text, @hrefs[3]%></h1>
              <p>Slide through the stories of our athletes</p>
              <p><a class="btn btn-lg btn-primary" href="#" role="button">Browse gallery</a> <a class="btn btn-lg btn-success" href="#" role="button">Share Your Story</a></p>
            </div>
          </div>
        </div>
      </div>
      <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div><!-- /.carousel -->

    <!-- Marketing messaging and featurettes
    ================================================== -->
    <!-- Wrap the rest of the page in another container to center all the content. -->


    <div class="container marketing">

      <!-- Three columns of text below the carousel -->
      <div class="row">
        <div class="col-lg-4">
          <h2>Twitter <%= link_to image_tag('twitter.jpg',size:'140x140',alt:"Generic placeholder image"), 'http://www.twitter.com', class:"img-circle" %></h2>
          <p>test Twitter Link</p>
          <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
          
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-4">
          <img class="img-circle" src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" alt="Generic placeholder image" width="140" height="140">
          <h2>Rules</h2>
          <p>How to Play Fantasy Track</p>
          <p><%= button_to "Scoring Rules", scoring_rules_path, :class => "btn btn-default" %></p>
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-4">
          <img class="img-circle" src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" alt="Generic placeholder image" width="140" height="140">
          <h2>Results</h2>
          <p>View Results from the last meet</p>
          <p><%= button_to "Results", recent_meet_path, :class => "btn btn-default" %></p>

        </div><!-- /.col-lg-4 -->
      </div><!-- /.row -->

    </div><!-- /.container -->
    
    <div class= "container users">
      <div class = "row">
        <br></br>
        <br></br>
        <center><h1> <%= User.count %> Users </h1> </center>
        <center> <h1> Already Signed up! </h1> </center>
        <br></br>
        <br></br>
      </div>
    </div>
    
    
    

