<h3>Scores for <%= @meet.meet_name %></h3>
<table id="example" class="display example" cellspacing="0" width="100%">
    <thead>
        <tr>
            <td>User</td>
            <td>Score</td>
            <td>Box Score</td>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Kevin</td>
            <td>78</td>
            <td><%= link_to 'Box Score', boxScore_league_path(4), method: 'get' %></td>
        </tr>
        <tr>
            <td>Connor</td>
            <td>63</td>
            <td><%= link_to 'Box Score', boxScore_league_path(4), method: 'get' %></td>
        </tr>
        <tr>
            <td>Xi</td>
            <td>59</td>
            <td><%= link_to 'Box Score', boxScore_league_path(4), method: 'get' %></td>
        </tr>
        <tr>
            <td>Nathan</td>
            <td>53</td>
            <td><%= link_to 'Box Score', boxScore_league_path(4), method: 'get' %></td>
        </tr>
        <tr>
            <td>Leon</td>
            <td>7</td>
            <td><%= link_to 'Box Score', boxScore_league_path(4), method: 'get' %></td>
        </tr>
    </tbody>
</table>