  <center><h2 id="header">League: <%=League.find(session[:current_league]).league_name %></h2></center>
 <center><div class="container" id = "leagueNavBar">
        <nav class="navbar navbar-inverse navbar-static-top">
          <div class="container">
            <div id="navbar" class="navbar-collapse collapse">
              <ul class="nav navbar-nav">
                <li><%= link_to 'League Home', league_path(League.find(session[:current_league])) %></li>
                <li><%= link_to 'My Team', myteam_path %></li>
                <li><%= link_to 'Standings', standings_path %></li>
                <li><%= link_to 'Scoreboard', scoreboard_path %></li>
                <li><%= link_to 'League Settings', settings_path %></li>
                <% if (@league.creator_id == @thisUser.id) %>
                   <li><%= link_to 'Invite Friends', inviteFriend_league_path(@league) %></h4>
                <% end %>
              </ul>
            </div>
          </div>
        </nav>
   </div></center>
   
   <div class = "container">
     
       <div class="jumbotron">
        <h3><%= @user.user_id %> Box Score</h3>
      </div>
      
      <table>
          <tr>
              <th>Athlete First Name</th>
              <th>Athlete Last Name</th>
              <th>Event</th>
              <th>Result</th>
              <th>Score</th>
          </tr>
          
          <% if @athlete_selections != nil %>
              <% @athlete_selections.each do |s|%>
              <% @event_entrant = EventEntrant.find_by_event_id_and_athlete_id(s.event_id,s.athlete_id) %>
              <% @athlete = Athlete.find_by_id(@event_entrant.athlete_id) %>
              <% @event = Event.find_by_id(@event_entrant.event_id) %>
              <tr>
                  <td><%= @athlete.first_name %></td>
                  <td><%= @athlete.last_name %></td>
                  <td><%= @event.event_name %></td>
                  <td><% 0 %></td>
                  <td><%= @event_entrant.points %> </td>
              </tr>
                
          
              <% end %>
          <% end %>
          
          
      </table>
      
      
      
      <li><%= link_to 'Back to scoreboard', scoreboard_path %><li>
   </div>