<script>
    $(document).ready(function() {
    $('#example').DataTable();
    } );
</script>
 <center><div class="container" id = "leagueNavBar">
     <center><h2 id="header">League: <%=@league.league_name %></h2></center>
        <nav class="navbar navbar-inverse navbar-static-top">
          <div class="container">
            <div id="navbar" class="navbar-collapse collapse">
              <ul class="nav navbar-nav">
                <li><%= link_to 'League Home', league_path(@league) %></li>
                <li><%= link_to 'My Team', myteam_path %></li>
                <li><%= link_to 'Standings', standings_path %></li>
                <li><%= link_to 'Scoreboard', scoreboard_path %></li>
                <li><%= link_to 'League Settings', settings_path %></li>
                <% if (@league.creator_id == @thisUser.id) %>
                   <li><%= link_to 'Invite Friends', inviteFriend_league_path(@league) %></h4>
                <% end %>
              </ul>
            </div>
          </div>
        </nav>
   </div></center>
<div id = "divider">
    <div class = "container" id = "meets">
      <div>
         <h3>Set Your Team For The Following Upcoming Meets!</h3>
         <br></br>
      </div>
      <div>
        <table id="example" class="display" cellspacing="0" width="100%">
            <thead>
                <td>Meet</td>
                <td>Location</td>
                <td>Start Date</td>
                <td>End Date</td>
            </thead>
            <tbody>
               <% @availablemeets.each do |p| %>
                <tr>
                    <td><%= link_to "#{p.meet_name}", meet_path(p), method: "get" %></td>
                    <td><%= p.location_city %>, <%= p.location_country %></td>
                    <td><%= p.start_date %></td>
                    <td><%= p.end_date %></td>
                </tr>
              <% end %>
            </tbody>
        </table>
      </div>
    </div>
</div>