  <center><h2 id="header">League: <%=League.find(session[:current_league]).league_name %></h2></center>
 <center><div class="container" id = "leagueNavBar">
        <nav class="navbar navbar-inverse navbar-static-top">
          <div class="container">
            <div id="navbar" class="navbar-collapse collapse">
              <ul class="nav navbar-nav">
                <li><%= link_to 'League Home', league_path(League.find(session[:current_league])) %></li>
                <li><%= link_to 'My Team', myteam_path %></li>
                <li><%= link_to 'Standings', standings_path %></li>
                <li><%= link_to 'Scoreboard', scoreboard_path %></li>
                <li><%= link_to 'League Settings', settings_path %></li>
                <% if (@league.creator_id == @thisUser.id) %>
                   <li><%= link_to 'Invite Friends', inviteFriend_league_path(@league) %></h4>
                <% end %>
              </ul>
            </div>
          </div>
        </nav>
      <div class="jumbotron">
        <h3><%= @league.league_name %> Meet Scoreboards</h3>
      </div>
      <div class="container">
        <div class="well col-sm-4">
          <h3>Meets</h3>
          <div class="list-group">
            <a class="list-group-item active">Doha</a>
            <a class="list-group-item">Eugene</a>
            <a class="list-group-item">Monaco</a>
            <a class="list-group-item">Beijing</a>
          </div>
        </div>
      
        <div class="well col-sm-4">
          <%= render(:partial => "meet_scoreboard" ,:controller=>"leagues") %>
        </div>
      </div>
   </div></center>
   