<div class = "container" id = "invite">  
   <h2> Welcome to <%=@league.league_name %> id="header" </h2>
   
   <% if (@league.creator_id == @thisUser.id) %>
    <center> <h4><%= link_to 'Invite Friends', inviteFriend_league_path(@league) %></h4></center> 
   <% end %>
</div>
<br></br>
 <div class="container" id = "leagueNavBar">
        <nav class="navbar navbar-inverse navbar-static-top navbar-backgrnd">
          <div class="container">
            <div id="navbar" class="navbar-collapse collapse">
              <ul class="nav navbar-nav">
                <li><%= link_to 'League Home' %></li>
                <li><%= link_to 'My Team', myteam_path %></li>
                <li><%= link_to 'Standings', standings_path %></li>
                <li><%= link_to 'Scoreboard', scoreboard_path %></li>
                <li><%= link_to 'League Settings', settings_path %></li>
              </ul>
            </div>
          </div>
        </nav>
</div>
