<div class = "container" id = "leagues">

<h2>Search For a League</h2>
<%= form_tag(show_all_path, :method => 'get', :id => "search-league-form") do %>
    <div> <%= text_field_tag :search, params[:search] %></div>
    <div> <%= submit_tag "Search", :name => nil %></div>
<% end %>
   
   <h2>League List</h2>
   <table width = 50%>
       <tr>
           <td>League Name</td>
           <td>Creator</td>
           <td>Players</td>
       </tr>
       <% @allLeagues.each do |league| %>
       <tr>
           <td><%=link_to league.league_name, league_path(league) %></td>
           <td><%=league.creator_id %></td>
           <td><%=league.league_messages.count %></td>
       </tr>
       <% end %>
   </table>
