<div class = "container" id = "invite">  
   <center><h2 id="header">Welcome to <%=@league.league_name %></h2></center>
   <center><div class="container" id = "leagueNavBar">
        <nav class="navbar navbar-inverse navbar-static-top">
          <div class="container">
            <div id="navbar" class="navbar-collapse collapse">
              <ul class="nav navbar-nav">
                <li><%= link_to 'League Home', league_path(League.find(session[:current_league])) %></li>
                <li><%= link_to 'My Team', myteam_path %></li>
                <li><%= link_to 'Standings', standings_path %></li>
                <li><%= link_to 'Scoreboard', scoreboard_path %></li>
                <li><%= link_to 'League Settings', settings_path %></li>
                <% if (@league.creator_id == @thisUser.id) %>
                   <li><%= link_to 'Invite Friends', inviteFriend_league_path(@league) %></h4>
                <% end %>
              </ul>
            </div>
          </div>
        </nav>
   </div></center>
</div>
<center><div class="container">
  <% if @league.league_messages.any? %>
      <h3>League Messages (<%= @league.league_messages.count %>)</h3>
      <ol class="league_messages">
        <%= render @league_messages %>
      </ol>
      <%= will_paginate @league_messages %>
  <% end %>
  <div class="row">
    <aside class="container">
      <section class="league_message_form">
        <%= render 'shared/league_message_form' %>
      </section>
    </aside>
  </div>
</div></center>

