
 <center><div class="container" id = "leagueNavBar">
   <center><h2 id="header">League: <%=League.find(session[:current_league]).league_name %></h2></center>
        <nav class="navbar navbar-inverse navbar-static-top">
          <div class="container">
            <div id="navbar" class="navbar-collapse collapse">
              <ul class="nav navbar-nav">
                <li><%= link_to 'League Home', league_path(League.find(session[:current_league])) %></li>
                <li><%= link_to 'My Team', myteam_path %></li>
                <li><%= link_to 'Standings', standings_path %></li>
                <li><%= link_to 'Scoreboard', scoreboard_path %></li>
                <li><%= link_to 'League Settings', settings_path %></li>
                <% if (@league.creator_id == @thisUser.id) %>
                   <li><%= link_to 'Invite Friends', inviteFriend_league_path(@league) %></h4>
                <% end %>
              </ul>
            </div>
          </div>
        </nav>
  </div></center>
  <div class="container">
    <div class="jumbotron">
      <h3 align="center">League Standings</h3>
    </div>
    <div class="well">
      <table class="table">
        <thead>
          <tr>
            <th>Position</th>
            <th>User</th>
            <th>Points</th>
          </tr>
        </thead>
        <tbody>
          <% count = 0 %>
          <% @members.sort {|a,b| b.totalScore <=> a.totalScore }.each do |member| %>
            <% count += 1 %>
            <tr>
              <th scope="row"><%= count %></th>
              <td><%= member.user_id %></td>
              <td><%= member.totalScore %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>