<div class="container" id = "meetdetail">
     <% provide(:title, 'Athlete Info') %>
    <div class="col-md-6">
        <h2>Athlete Detail</h2>
        <h4><%= @athlete.first_name %> <%= @athlete.last_name %></h4>
        </br>
        <h4>Country: <%= @athlete.country %></h4>
        </br>
        <h4>Birth Date: <%= @athlete.birth_date %></h4>
        </br>
        <h4> Comments: <%= @athlete.notes %></h4>
        </br>
        <% if @current_user.role == "admin" %>
            <h4><%= link_to "Edit Athlete", edit_athlete_path(@athlete), method: 'get' %></h4>
        <% end %>
    </div>
</div>

