<div class = "container" id = "newevent">
   <% provide(:title, 'Create new Events') %> 
  <h2>Enter new event details</h2>
  <div class="col-md-6 col-md-offset-3">
      <%= form_for(:event, url: events_path) do |f| %>
      
        <%= f.label :event_name, "Event Name: " %>
        <%= f.text_field :event_name %>

        <%= f.label :event_type, "Event Type: " %>
        <%= f.text_field :event_type %>

        </br>
        </br>
        <%= f.submit "Save", class: "btn btn-primary" %>
      <% end %>
  </div>
</div>