<script>
    $(document).ready(function() {
    $('#example').DataTable();
    } );
    
    $(document).ready(function() {
    $('#addOrDrop')
    
    
    
    } );
    
 
</script>
<div class = "container" id = "eventdetail">
   <% provide(:title, 'Event Info') %>
  <h2>Event Detail</h2>
  <h5>Event: <%= @event.event_name %></h5> 
  <h5>Event type:
    <% if(@event.event_type == 0) %>
        Sprint/Hurdle
        </br>
        <h3><%= link_to "Results", sprint_result_path(@event), method: "get" %></h3>
    <% end %>
    <% if(@event.event_type == 1) %>
        Mid Distance
        </br>
        <h3><%= link_to "Results", mid_result_path(@event), method: "get" %></h3>
    <% end %>
    <% if(@event.event_type == 2) %>
        Throws
        </br>
        <h3><%= link_to "Results", throw_result_path(@event), method: "get" %></h3>
    <% end %>
    <% if(@event.event_type == 3) %>
        Jumps
        </br>
        <h3><%= link_to "Results", jump_result_path(@event), method: "get" %></h3>
    <% end %>
  </h5>
    <% if logged_in? %>
      <% if @current_user.role == "admin" %>
        <h4><%= link_to "Add Entrant", selectEntrant_event_path(@event) %></h4>
      <%end%>
    <%end%>
  <div>
    <h3>Entrants</h3>
    <table id="example" class="display" cellspacing="0" width="100%">
        <thead>
            <td>Name</td>
            <td>Country</td>
            <td>Birth Date</td>
            <td>Comments</td>
            <% if @current_user.role == "admin" %>
                <td>Remove</td>
                <td>Enter Result</td>
            <% else %>
                <td> Add or Drop</td>
            <% end %>
        </thead>
        <tbody>
           <% @entrants.each do |p| %>
            <tr>
                <td><%= link_to "#{p.first_name} #{p.last_name}", athlete_path(p), method: "get" %></td>
                <td><%= p.country %></td>
                <td><%= p.birth_date %></td>
                <td><%= p.notes %></td>
                <% if @current_user.role == "admin" %>
                   <td><%= link_to "Remove Entrant", removeEntrant_event_path(p), method: "get" %></td>
                   <td><%= link_to "Enter Result", enterResult_event_path(p), method: "get" %></td>
                <% else%>
                   <td><% if(p.selected) %>
                       <%= button_to "Drop" , dropAthlete_event_path(p), class: 'Drop'%>
                       <% elsif (@count != 3) %>
                       <%= button_to "Add" , claimAthlete_event_path(p), class: 'Add'%>
                       <% end %></td>
                <%end%>
            </tr>
          <%end%>
        </tbody>
    </table>
  </div>
   <% if logged_in? %>
      <% if @current_user.role == "admin" %>
        <label><%= button_to 'Delete Event', event_path(@event), :method => :delete, :confirm => 'Are you sure?'%></label>
      <%end%>
    <%end%>
</div>
