<script>
    $(document).ready(function() {
    $('#example').DataTable();
    } );
</script>
<br/>
<div class = "container" id = "meets">
  <div>
    <h2>Meet list will go here. Changed HTML.</h2>
    <a href="/meets/new">Create New Meet</a>
    <!--<h4><% link_to "Create New Meet", new_meet_path, method: "get" %></h4> -->
  </div>
  <div>
    <table id="example" class="table table-striped table-bordered" cellspacing="0" width="100%">
        <thead>
            <td>Meet</td>
            <td>Location</td>
            <td>Start Date</td>
            <td>End Date</td>
        </thead>
        <tbody>
           <% @meets.each do |p| %>
            <tr>
                <td><%= link_to "#{p.meet_name}", meet_path(p), method: "get" %></td>
                <td><%= p.location_city %>, <%= p.location_country %></td>
                <td><%= p.start_date %></td>
                <td><%= p.end_date %>id is <%= p.id %></td>
            </tr>
          <% end %>
        </tbody>
    </table>
  </div>
</div>