<script>
  $(function() {
    $( ".datepicker" ).datepicker({
      dateFormat: 'M d, yy',
      timeFormat: 'hh:mm tt'
    });
  });
</script>
<div class = "container" id = "newmeet">
  <h2>Create A New Meet</h2>
  <div class="col-md-6 col-md-offset-3">
      <br/>
      <%= form_for(:meet, url: meets_path) do |f| %>
      
        <%= f.label :meet_name, "Meet Name: " %>
        <%= f.text_field :meet_name, :required => true %>

        <%= f.label :location_city, "Location (City): " %>
        <%= f.text_field :location_city, :required => true%>

        <%= f.label :location_country, "Location (Country): " %>
        <%= f.text_field :location_country, :required => true %>
  
        <%= f.label :start_date, "Start Date: " %>
        <%= f.text_field :start_date,  :class => "datepicker", :required => true%>
        
        <%= f.label :end_date, "End Date: " %>
        <%= f.text_field :end_date,:class => "datepicker", :required => true %>
        </br>
        </br>
        <%= f.submit "Save", class: "btn btn-primary" %>
      <% end %>
  </div>
</div>  