<h4>Meet: <%= @meet.meet_name %></h4>
<h4>Location: <%= @meet.location_city %>, <%= @meet.location_country %></h4>
<h4>Start Date: <%= @meet.start_date %> </h4>
<h4>End Date: <%= @meet.end_date %></h4>

<h5><a href="/events/new">Create New Event</a></h5>

<div>
    <table id="example" class="table table-striped table-bordered" cellspacing="0" width="100%">
        <thead>
            <td>Event</td>
            <td>Event Type</td>
        </thead>
        <tbody>
           <% @events.each do |p| %>
            <tr>
                <td><%= link_to "#{p.event_name}", event_path(p), method: "get" %></td>
                <td><%= p.event_type %></td>
            </tr>
          <% end %>
        </tbody>
    </table>
</div>