<!DOCTYPE html>
<html>
  <head>
    <title><%= full_title(yield(:title)) %></title>
    <%= stylesheet_link_tag    'application', media: 'all',
                                                'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
    <%= render 'layouts/shim' %>
    <script src="//code.jquery.com/jquery-1.10.2.js"></script>
    <script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
    <script src="js/bootstrap-datepicker.js"></script>
    <script src="https://cdn.datatables.net/1.10.10/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.10/js/dataTables.bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.10/css/jquery.dataTables.min.css"> 
    <link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
    <link rel="stylesheet" href="css/datepicker.css">
    <link rel="stylesheet" href="css/bootstrap.css">
  </head>
  <body>
    <header class="navbar-wrapper">
      <div class="container">
        <nav class="navbar navbar-inverse navbar-static-top">
          <div class="container">
            <div class="navbar-header">
              <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <a class="navbar-brand" href="#">FantasyTrack</a>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
              <ul class="nav navbar-nav">

                <li><%= link_to 'Home', :root %></li>
                <li><%= link_to 'About', about_path %></li>
                <li>
                  <% if logged_in? %>
                    <li class="dropdown">
                      <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><%= @current_user.user_id %><span class="caret"></span></a>
                      <ul class="dropdown-menu">
                        <li><%= link_to "User Interface", @current_user, method: "get" %></li>
                        <li><a href="#">Another action</a></li>
                        <li><a href="#">Something else here</a></li>
                        <li role="separator" class="divider"></li>
                        <li>
                          <%= link_to "Log out", logout_path, method: "delete" %>
                        </li>
                      </ul>
                    </li>
                  <% else %>
                    <li><a href='/login'>Login</a></li>
                    <li><%= link_to 'Signup', 'signup', method: 'get' %></li>
                  <% end %>
                </li>
                <% if logged_in? %>
                  <% if @current_user.role == "admin" %>
                    <li id = "admin"><%= link_to "Meets", meets_path, method: "get" %></li>
                    <li><%= link_to "Athletes", athletes_path, method: "get" %></li>
                  <% else %>
                    <li><%= link_to "My Leagues", leagues_path, method: "get" %></li>
                    <li><%= link_to "Athletes", athletes_path, method: "get" %></li>
                    <li><%= link_to "Join League", searchLeague_league_path(1) %></li>
                    <li><%= link_to 'Upcoming Meets', meets_path%></li>
                  <% end %>
                <% end %>
                
              </ul>
            </div>
          </div>
        </nav>
     
      </div>
    </header>
    </br>
    </br>
    </br>
    </br>
    <div class = "container">
      <div class = "centre">
        <strong><%= flash[:notice] if flash[:notice] %></strong>
        <strong><%= flash[:warning] if flash[:warning] %></strong>
      </div>
    </div>
    <div class = "container-fluid">
      <%= yield %>  
    </div>

  <!-- FOOTER -->
  <footer>
    <p class="pull-right"><a href="#">Back to top</a></p>
    <p>&copy; 2015 SELT Company, Inc. &middot; <a href="#">Privacy</a> &middot; <a href="#">Terms</a></p>
  </footer>

    
</body>

</html>
